@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetbrains-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

@layer utilities {
  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }
  
  .font-terminal {
    font-family: var(--font-jetbrains-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  }
}

